<div class="form-check">
    <div class="row align-items-center">
        <div class="col-10">
            <input class="form-check-input" [(ngModel)]="task.status" (ngModelChange)="updateTaskStatus(task)" type="checkbox" value="" id="flexCheckDefault">
            <p class="form-check-label">
                {{task?.title}}
            </p>
        </div>
        <div class="col-2">
            <div class="text-center">
                <a href="javascript:void(0)" (click)="editTask(task)" class="mr-3">
                    <i class="fa fa-edit fa-2x text-white"></i>
                </a>
                <a href="javascript:void(0)" (click)="deleteTask(task)"> 
                    <i class="fa fa-trash-o fa-2x text-white"></i>
                </a>
            </div>

        </div>
    </div>
</div>