.text{
    text-align: right;
}
.bg-darkk{
    background-color: #f6f6f6;
}
.mb10{
    margin-bottom: 10px;
}
.list-dashboard{
    margin-top:70px;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
   
  }
  .to-do-items{
    padding-left: 0;
    list-style: none;
  }
  .to-do-item{
    padding-left: 10px !important;
  }
.content-wraper{
  margin-left: 200px;
}
  .sidenav h4{
    background-color: #007bff;
    padding: 14px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #000;
  }
  .sidenav  h4 {
      color: #fff;
  }
  .text-white{
  padding: 10px;
margin-bottom: 10px;}
  
  a i{
      font-size: 24px;
      color: #fff;
      padding-left: 10px;
  }
  .text-right{
     text-align: right;
  }