<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="logout()"><i class="fa fa-sign-out fa-2x text-primary"
            aria-hidden="true"></i></button>
      </li>
    </ul>

  </div>
</nav>
<div class="list-dashboard">
  <div class="sidenav">
    <h4><i class="fa fa-list" aria-hidden="true"></i> To Do List</h4>
    <a href="javascript:void(0)" [ngClass]="{ 'text-primary': i==selectedTaskIndex }" (click)="changeTaskItemsList(i)" *ngFor="let item of todoList;let i=index;">
      {{item?.title}}</a>
      <button type="button" class="btn btn-link mb10 ml-auto float-right" data-toggle="modal" data-target="#tastModal">
        Add New <i class="fa fa-plus-circle text-primary" aria-hidden="true"></i>
      </button>

  </div>
  <div class="container content-wraper">
    <div class="clearfix">
      <h1 class="float-left">To Do List</h1>
      <button *ngIf="todoList" (click)="addTaskItem()" type="button" class="btn btn-link mb10 ml-auto float-right" data-toggle="modal" data-target="#tastItemModal">
        <i class="fa fa-plus-circle text-primary fa-2x" aria-hidden="true"></i>
      </button>

    </div>
    <div class="shadow-lg p-3 mb-5 bg-darkk rounded">
      <!--    <button (click)="myfunc">dsfdsf</button>-->
      <div class="row">
        <div class="col-md-10">
          <!-- <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="search..">
          </div> -->
        </div>
        <div class="col-md-2">
          <div class="text">
          </div>
        </div>
      </div>
      <div class="">
        <ol class="to-do-items">
          <li class="text-dark rounded to-do-item" *ngIf="todoListItems?.length==0">No Task Available</li>
          <li class="bg-info text-white rounded to-do-item" *ngFor="let item of todoListItems">
            <app-to-do-item [task]="item" (edtTask)="editTaskItem($event)" (updtTask)="UpdateTaskItem($event)" (delTask)="deleteItem($event)">
            </app-to-do-item>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="tastModal" tabindex="-1" role="dialog" aria-labelledby="tastCente" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{selectedTask?.id?'Edit':'Add'}} Task List</h5>
        <button type="button" class="close taskItemclose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
      <div class="modal-body">
          <div class="form-group">
            <input type="text" formControlName="title" class="form-control" id="exampleFormControlInput1"
              placeholder="Enter Task Here.">
          </div>
      </div>

      <div class="modal-footer">
        <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary">Save </button>
      </div>
        </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="tastItemModal" tabindex="-1" role="dialog" aria-labelledby="tastCente" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{selectedTaskItem?.id?'Edit':'Add'}} Task</h5>
        <button type="button" class="close taskItemclose" (click)="selectedTaskItem=null;taskItemForm.reset()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form [formGroup]="taskItemForm" (ngSubmit)="saveTaskItem()">
      <div class="modal-body">
          <div class="form-group">
            <input type="text" formControlName="title" class="form-control" id="exampleFormControlInput1"
              placeholder="Enter Task Here.">
          </div>
      </div>

      <div class="modal-footer">
        <button type="submit" [disabled]="taskItemForm.invalid" class="btn btn-primary">Save </button>
      </div>
        </form>
    </div>
  </div>
</div>