<div class="backgrund">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->


      <!-- Login Form -->
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <h2>Create an Account</h2>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="username" type="text" id="username" class="form-control" name="username" placeholder="Username*" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="first_name" type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name*" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" required>
          <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.first_name.errors.required">Firstname is required</div>
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="last_name" type="text" id="lastname" class="form-control" name="lastname" placeholder="Last Name">
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="email" type="email" id="email" class="form-control" name="email" placeholder="Email*" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="mobile" type="text" id="mobile" class="form-control" name="mobile" placeholder="Mobile*" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.mobile.errors.required">Mobile is required</div>
            <div *ngIf="f.mobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="password" type="password" id="password" class="form-control" name="password" placeholder="Password*" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <input formControlName="cpassword" type="password" id="cpassword" class="form-control" name="cpassword" placeholder="Confirm Password*" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }">
          <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
          </div>
        </div>
        <div class="form-group w-75 ml-auto mr-auto">
          <div *ngIf="submitted && f.terms.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="f.terms.errors.required">Please accept the terms & Conditions</div>
          </div>
          <label>
          <input formControlName="terms" type="checkbox" id="terms" class="fadeIn second" [ngClass]="{ 'is-invalid': submitted && f.terms.errors }">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </label>
        </div>
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">


        <a href="#"> </a>
        <h6>Have an Account? <a class="underlineHover" [routerLink]="['/account/login']">
            Log In Here</a></h6>
      </div>


    </div>
  </div>
</div>