



<div class="backgrund">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <input type="email" formControlName="email" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="password" id="password" formControlName="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" [disabled]="loginForm.invalid" class="fadeIn fourth" value="Log In">
  <!---- <div class="row">



        <div class="col-md-6">



            <a class="underlineHover  margin35"  href="#">Forgot Password?</a>
        </div>
        
    </div>-->
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
      
        <h6>   Not a member? <a class="underlineHover"  [routerLink]="['/account/register']">
            Sign up now </a></h6>
     
      </div>
  
    </div>
    </div>
  </div>